@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

.container {
  padding: 6px;
}

.searchForm {
  max-width: 800px;
  height: 300px;
}

.searchBar,
.search-btn {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

.searchBar {
  width: 95%;
  border: 1px solid grey;
  margin-top: 10px;
  transition: border-color 0.25s;
}
.searchBar:hover {
  border-color: #646cff;
}

.searchBar:focus,
.searchBar:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.search-btn {
  width: 200px;
  background-color: orange;
  color: white;
  margin-top: 50px;
  border: none;
}

ul {
  padding: 0;
}

.data-box {
  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;
  width: 90%;
  height: 300px;
  padding: 2px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid grey;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 767px) {
  h1 {
    font-size: 1.3em;
    line-height: 1.1;
  }
  .searchForm {
    max-width: 320px;
  }

  .searchBar {
    width: 100%;
  }

  .data-box {
    width: 90%;
    padding: 8px;
  }

  .avatar {
    width: 120px;
    height: 120px;
  }
}
